<div class="container mt-5">
  <div *ngIf="!isOpen">
    <div class="getExportToExcel">
      <h1>Get Export To Excel File</h1>
      <button class="btn btn-success" (click)="ExportToExcelBtn()">Excel File</button>
    </div>
    <h1>Crud Operation</h1>
    <button class="btn btn-primary" (click)="AddDataBtn()">Add Data</button>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Gender</th>
          <th>BirthDate</th>
          <th>Action</th>
          <!-- Add other headers as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of UserDATA">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.phone}}</td>
          <td>@if (data.gender) {Female} @else {Male}</td>
          <td>{{data.birthDate | date}}</td>
          <td>
            <a class="btn btn-primary btn-sm m-2" (click)="EditData(data.id)">Edit</a>
            <a class="btn btn-danger btn-sm" (click)="DeleteData(data.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet *ngIf="isOpen"></router-outlet>
</div>